    
    
    *{
        margin-left: 1%;
        margin-top: 1%;
        background-color: white;
    }
    
    .photo{border-radius: ;}
    p{
        text-align: justify;
    }

    table, th, td {
        border:1px solid black;
        text-align: center;
    }

    
   



